# Pandas

Pandas is libaray written for Python Programming language for data manipulation and analysis.

Pandas derived from word "panel" and "data".
Pandas provides three data structures:
1.Series
2.DataFrame
3.Panel

Using Pandas the fivr operations can be performed.
1.Loading
2.Preparing
3.Manipulation
4.Analysis
5.Modelling

## Series in Pandas

#### Creating Series using List and NumPy array

#### List

In [5]:
import numpy as np
import pandas as pd

In [4]:
l=[10,20,30,40,50]
s1=pd.Series(l)
print(s1)
print(type(s1))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

#### Numpy

In [7]:
a=np.array(l)
s2=pd.Series(a)
print(s2)
print(type(s2))

0    10
1    20
2    30
3    40
4    50
dtype: int32
<class 'pandas.core.series.Series'>

#### Acessing elements of Series

Series support both positive and negative index.
To acess the data using the positive index, we can use index operator in the normal manner.

In order to acess the value using negative index we need to use "iloc"

In [8]:
s1=pd.Series(l)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
print(s1[0])
print(s1.iloc[-5])

10
10

In [11]:
a=np.array(l)
s2=pd.Series(a)
print(s2)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
print(s2[0])
print(s2.iloc[-5])

10
10

#### Creating custom index

In List and numpy array the deafult indexing starting from 0 to n-1.
As a programmer we can't change default indexing.But in case of Series along with the default indexing we can provide custom indexes.

In [15]:
a=np.array(a)
s1=pd.Series(a)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [21]:
index=["a","b","c","d","e"]
s2=pd.Series(a,index)
print(s2)
print()
print(s2[3])
print()
print(s2["d"])

a    10
b    20
c    30
d    40
e    50
dtype: int32

40

40

#### Creating Series using Dictionary

On converting dict into series,
all the keys will become index of Series 
all the values will retained as value itself

In [26]:
dict={"a":10,"b":20,"c":30,"d":40}
print(dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [27]:
s1=pd.Series(dict)
print(s1)

a    10
b    20
c    30
d    40
dtype: int64

In [28]:
print(s1["a"])
print(s1["d"])

10
40

In [29]:
for data in s1.iteritems():
    print(data)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [31]:
indexlist=s1.index
for index in indexlist:
    print(index)

a
b
c
d

In [32]:
valueslist=s1.values
for value in valueslist:
    print(value)

10
20
30
40

#### Using Scalar to create Series

A Scalar is type that can have single such as 5,5.14,'Priya'.

In [33]:
s1=pd.Series(5)
print(s1)

0    5
dtype: int64

In [34]:
s2=pd.Series([5,5,5,5,5])
print(s2)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [35]:
s3=pd.Series([5]*5)
print(s3)

0    5
1    5
2    5
3    5
4    5
dtype: int64

#### Converting the multi-dimentional list or numpy array into series.

In [36]:
l=[[1,2,3],[4,5,6],[7,8,9]]
s1=pd.Series(l)
print(s1)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [43]:
# jjjjjj
a=np.array(l)
s2=pd.Series(a[0])
print(s2)

0    1
1    2
2    3
dtype: int32

In [45]:
s3=pd.Series(a[1])
print(s3)

0    4
1    5
2    6
dtype: int32

In [48]:
s4=pd.Series(a[2])
print(s4)

0    7
1    8
2    9
dtype: int32

#### Appending two arrays

In [52]:
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
s3=s1.append(s2)
print(s3)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [53]:
s4=s1.append(s2,ignore_index=True)
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64